span i.icon-cart-page-product {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.4);
}

span i.back {
  font-size: 24px;
  color: black;
  padding: 5px;
  cursor: pointer;
}

.desc-producto {
  padding: 0 0px;
  margin: 0px auto 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desc-producto img {
  width: 170px;
  height: 150px;
  margin-bottom: 30px;
}

.desc-producto h1 {
  text-transform: capitalize;
  text-align: center;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 24px;
}

.desc-producto p {
  color: var(--primary);
  font-size: 28px;
  font-weight: 500;
}

.añadir {
  margin-top: 30px;
  border-radius: 20px;
  width: 50%;
  background: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.añadir p {
  color: #000;
}

.añadir span {
  border: 3px solid;
  border-radius: 50%;
  padding: 6px;
  background: #fff;
  cursor: pointer;
}

.añadir i {
  background: #fff;
  font-size: 20px;
}

.sabor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 50px;
}

.sabor img {
  width: 100px;
  height: 100px;
}

.combo {
}

.combo .bebidas-titulo-combo {
  text-align: left;
  font-size: 28px;
  font-weight: 500;
}

.combo .txt-combo {
  color: rgba(0, 0, 0, 0.4);
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 30px;
}

.combo .img-bebida {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
@media (min-width: 320px) and (max-width: 420px) {
  .combo .img-bebida {
    grid-template-columns: 1fr;
  }
}

.combo .img-bebida .bebida {
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  padding: 10px;
}

.combo .img-bebida img {
  width: 100px;
  height: 100px;
}

.titulo-txt-combo {
  display: flex;
  flex-direction: column;
}

.nombre-bebida-combo {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 5px;
}

.precio-bebida-combo {
  font-size: 22px !important;
  font-weight: 500 !important;
}

.agregar-carrito {
  margin: 0 auto;
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  justify-content: space-around;
  border: none;
  width: 90%;
  padding: 20px;
  font-size: 18px;
  color: #fff;
  border-radius: 30px;
  background: var(--primary);
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.2), 0 2px 5px 0px rgba(0, 0, 0, 0.6);
}
